.Shop-Container  {
    padding: 100px;
}

.Header {
    font-weight: bold;
}

.Banner { 
    left: 0px;
    right: 0px;
    background-color: var(--bodyColor);  
    padding: 50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 20px;
}

.Content {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.Content img {
    height: 150px;
    width: 150px;
}

.Result-Heading {
    display: flex;
    margin-top:10px;
    align-items: center;
    justify-content: space-between;
}

.Result-Heading button img {
    align-self: center;
    margin-left: 5px;
}

.Sort-Button {
    background-color: red;
    display: flex;
    padding: 0px 20px ;
    background-color:var(--buttonColor);
}

.Video-Container {
    display: flex;
    justify-content: space-between;
}
.Video-data {
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.Video-List {
    overflow-y: scroll;
    height: 800px;
    scrollbar-width: none; 
    border-width: 1px;
    border-color: black;
    padding: 20px;
    border-style: solid;  
}

.Video-Player {
    background-color:'black'
}


.Long-Text {
    font-size: 25px;
    opacity: 0.3;
}

.Selected-Video-Description {
    padding: 10px;
    font-size: 25px;
}

.Whole-Text {
    display: flex;
    align-items: center;
}