.Shop-Container  {
    padding: 100px;
}

.Header {
    font-weight: bold;
}

.Banner { 
    left: 0px;
    right: 0px;
    background-color: var(--bodyColor);  
    padding: 50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 20px;
}

.Content {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.Content img {
    height: 150px;
    width: 150px;
}

.Result-Heading {
    display: flex;
    margin-top:10px;
    align-items: center;
    justify-content: space-between;
}


.Result-Heading button img {
    align-self: center;
    margin-left: 5px;
}

.Sort-Button {
    background-color: red;
    display: flex;
    padding: 0px 20px ;
    background-color:var(--buttonColor);
}

