.container {
    padding: 40px;
}

.navbar { 
    position: fixed;
    left: 0px;
    right: 0px;
}

.Best-Selling-Header {
    font-weight: bold;
    font-size: 20px;
}

.Scroll-Image {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.Scroll-Image img {
    align-self: center;
}

.summary img {
    height: 150px;
    width: 150px;
}


.Best-Selling { 
    margin-top: 50px;
}


.Product { 
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap:150px
}

.Item {
    margin-right:120px;
    border-radius: 10px;
    width:300px;
    height:300px;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.Add-Icon {
    background-color: rgb(249,217,76);
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:40px;
}

.Edit-Icon {
    position: relative;
    height: 30px;
    width: 30px;
    bottom: 210px;
    left: 130px;
    cursor: pointer;
}