.navbar { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
   background-color: black;
}

.nav-login-cart img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.nav-login-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.nav-login-cart button { 
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px 40px;
}

.nav-login-cart button:active { 
    background-color:rgb(136,180,104)
}

.nav-menu { 
    display: flex;
    align-items:center;
    gap: 50px;
}

.nav-logo p { 
    font-size: 20px;  
    color:white;
}

.Link {
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight:500;
}

.nav-menu hr { 
    height: 1px;
    width: 80%;
   background:white;
}

.nav-logo  {
    display: flex;
    flex-direction: row;
}

.nav-logo p { 
    margin-left: 20px;
}

.nav-logo img {
    border-radius:50%;
}

.Cart-Icon {
    display: flex;
    gap: 30px;
}

.Cart-Count {
    display: flex;
    background-color: rgb(249,217,76);
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
}

.Count {
    position: relative;
    bottom: 20px;
    right:3px;
}

.Count p {
    color: crimson;
    font-weight: bolder;
}

.Cart-Number {
    background-color: aqua;
    position: relative;
}

.Cart-Number p {
    align-self: center;
}


