.details {
    
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    font-weight: 400;
}

.price  {
    font-size: 15px;
    font-weight: bold;
}

.Spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Product-Data img {
    width: 150px;
    height: 150px;
}

.category {
    font-size: 15px;
    font-weight: bold;
}

.ProductDetails {
    display: flex;
    flex-direction: column;
    gap: 25px;  
}

.ProductDetails button {
    align-self: center;
}

.Details-Page {
    padding: 130px;
}

.Recommended { 
   margin-top: 100px;
}

.Recommended p {
    font-size: 17px;
    font-weight: bold;
}


.Product-Data { 
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap:150px;
    scroll-behavior: smooth;
}

.View-All {
    display: flex;
    justify-content: space-between;
}

.ViewAll-Button {
    cursor: pointer;
}